<a class="button" data-reveal-id="attachment" href="#">Attachment</a>
%div#attachment.reveal-modal.small(data-reveal)
  %div.row
    = simple_form_for(@micropost, :html => {:multipart => true, :'data-abide'=> ''}) do |f|
      = f.error_notification
      %div.small-6.medium-12.small-centered.columns
        = fields_for 'attachment' do |ff|
          .form-inputs
            = ff.label :title, "title"
            = ff.text_field :title, :required => true, :pattern => 'alpha_numeric'
            %small.error attachment title is required
            = ff.label :description, "description"
            = ff.text_area :description, :required => true, :pattern => 'alpha_numeric'
            %small.error short description is required
        = f.label :content, "tags"
        = f.text_field :content, :required => true, :pattern => 'alpha_numeric'
        %small.error tags are required
      %row
        %div.small-6.medium-12.columns
          .form-inputs
            = file_field_tag "documents[]", type: :file, multiple: true
        %div.medium-12.large-3.columns
          .form-actions
            = f.submit 'Add', class: 'button button-secondary button-large button-block button-caps'
  %a.close-reveal-modal &#215;

-# :javascript
-#     $(document).foundation();


-# <a class="button" data-reveal-id="attachment" href="#">Attachment</a>
-# %div#attachment.reveal-modal.small(data-reveal)
-#   %div.row
-#     = simple_form_for(@micropost, :html => {:multipart => true, :'data-abide'=> ''}) do |f|
-#       = f.error_notification
-#       %div.small-6.medium-12.small-centered.columns
-#         .form-inputs
-#           = label :title, "title"
-#           = f.text_field attachment[:title], :required => true, :pattern => 'alpha_numeric'
-#           %small.error attachment title is required
-#           = label :description, "description"
-#           = f.text_area :description, :required => true, :pattern => 'alpha_numeric'
-#           %small.error short description is required
-#           = f.label :content, "tags"
-#           = f.text_field :content, :required => true, :pattern => 'alpha_numeric'
-#           %small.error tags are required
-#       %row
-#         %div.small-6.medium-12.columns
-#           .form-inputs
-#             = file_field_tag "documents[]", type: :file, multiple: true
-#         %div.medium-12.large-3.columns
-#           .form-actions
-#             = f.submit 'Add', class: 'button button-secondary button-large button-block button-caps'
-#   %a.close-reveal-modal &#215;

