- require 'rails_autolink'

%div.row
  %div.large-9.medium-8.columns
  - if user_signed_in?
    %div.post-options.text-center
      %div.feed-heading
        %h1#heading-share &nbsp;
        = image_tag('sharing-is-caring.svg')
        %h1#heading-resources &nbsp;
        = render 'resources/form'
        = render 'attachments/form'
  - else
    %h3 Log In to Post
    = render 'layouts/resource_feed', posts: @posts
  = render 'layouts/hashtags_sidebar'
