-# %a.button(href="#" data-reveal-id="link") Link
<a class="button" data-reveal-id="link" href="#">Link</a>
%div#link.reveal-modal.small(data-reveal)
  %div.row
    = simple_form_for(@micropost, :html => {:multipart => true, :'data-abide' => ''}) do |f|
      = f.error_notification
      %div.small-9.medium-9.small-centered.columns
        .form-inputs
          = f.label :content, "link & tags"
          = f.text_field :content, :id => 'url', :required => true
          %small.error field is required
      %div.medium-3.large-3.columns
        .form-actions
          = f.submit 'Add', class: 'button button-secondary button-large button-block button-caps'
  %a.close-reveal-modal &#215;

