- id ||= 'destroy-modal'
- i18n_prefix = i18n_prefix.present? ? "#{i18n_prefix}." : ''

-# <<<<<<< HEAD
.reveal-modal.warning{id: id, data: {reveal: ''}, tabindex: -1, role: 'dialog', 'aria-labelledby' => "#{id}-title", 'aria-hidden' => true}
  %h2{id: "#{id}-title"}= I18n.t "#{i18n_prefix}prompt"
  - warning = I18n.t "#{i18n_prefix}warning"
  - if warning.present?
    %p.lead
      = warning
  %p= I18n.t "#{i18n_prefix}notice"
  %button.alert{data: {confirm: '', dismiss: ''}}
    %i.fi-alert
    = I18n.t "#{i18n_prefix}submit"
  %button{data: {dismiss: ''}}= I18n.t "#{i18n_prefix}cancel"
  %a.close-reveal-modal ×

-# ======
-# .modal.fade{id: id, tabindex: -1, role: 'dialog', 'aria-labelledby' => "#{id}-title", 'aria-hidden' => true}
-#   .modal-dialog
-#     .modal-content
-#       .modal-header
-#         %button.close{data: {dismiss: 'modal'}, 'aria-hidden' => true} &times;
-#         %h4{id: "#{id}-title"}= I18n.t "#{i18n_prefix}prompt"
-#       .modal-body
-#         - warning = I18n.t "#{i18n_prefix}warning"
-#         - if warning.present?
-#           .alert.alert-danger
-#             %i.glyphicon.glyphicon-warning-sign.text-danger
-#             = warning
-#         %p= I18n.t "#{i18n_prefix}notice"
-#       .modal-footer
-#         %button.btn.btn-danger{data: {confirm: '', dismiss: 'modal'}}= I18n.t "#{i18n_prefix}submit"
-#         %button.btn.btn-default{data: {dismiss: 'modal'}}= I18n.t "#{i18n_prefix}cancel"
-# >>>>>>> master
